<!-- Footer -->
<footer>

    <!-- Copyright -->
    <div class="footerstyle">© 2020 Copyright:
      <a href="http://www.theiconic.com.au/">THE ICONIC</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->